body{   
    font: 15px/1.5 Helvetica,Arial,san-serif;
    margin: 0;    
    padding-bottom: 60px;
    background-color: #EDE7F6;
}
* {box-sizing: border-box;}
.container{
    padding: 10px;
    width: 80%;
    margin:auto;
    overflow: hidden;    
}

header{
    /* top: 0;
    width: 100%;
    position: fixed;
    overflow: hidden; */
    background: #311B92;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #42A5F5 3px solid;
}
.first-sect{
    width: 100%;
}
header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{ 
    float: left;
    display: inline;    
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    /* font-family: fantasy;   */
    margin: 0;
}
header nav{
    float: right;
    margin-top:10px;  
}
header .current a{
    color: #B388FF;
    font-weight: bold;
}
header a:hover{
    color: #B39DDB;
    font-weight: bold;
}
.car{  
        position: relative;
        background-color: white;
        width: 250px;
        border: 2px solid #673AB7;
        padding: 15px;
        margin: 10px;
    
}
.car .delete{
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.car .sold{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.car .sold:hover{
    width: 45px;
    height: 45px;
    padding-top: 5px;
    padding-right: 5px;
   
}
.car .delete:hover{
    width: 45px;
    height: 45px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.cars{   
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;       
        padding: 10px;
      }


footer{
    position:fixed;
    bottom:0;
    color: white;
    width: 100%;
    background-color:#311B92;
    margin-top: 20px;
    text-align: center;
   
  
}
.form-style-3{    
    margin: 0 auto; 
    /* width:400px; */
}

.form-style-3{
    max-width: 450px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
    display:block;
    margin-bottom: 10px;
}
.form-style-3 label > span{
    float: left;
    width: 100px;
    color: #F072A9;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-style-3 fieldset legend{
    color: #FFA0C9;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}
.form-style-3 textarea{
    width:250px;
    height:100px;
}
.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select, 
.form-style-3 textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #F072A9;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:50%;
}
.form-style-3  input[type=submit],
.form-style-3  input[type=button]{
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}
.topBs{
    margin-top: 10px;
    color: white;
    background-color: #311B92;
    padding: 5px;
    border: 0px solid #311B92;    
}
.topBs #sell{
    float: right;
} 
.topBs #filter{
    float: left;
} 
.topBs #sort{
    float: center; 
} 
@media(max-width:1124px){
   header #branding,
   header nav,
   header nav li{
       float: none;
       text-align: center;
       width: 100%;
   }
   header{
       padding-bottom: 20px;
   }
   .cars{   
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;       
    padding: 10px;
  }

}
@media(max-width:773px){
    header #branding,
    header nav,
    header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    .cars{   
        display: grid;
        grid-template-columns: auto ;
        grid-gap: 10px;       
        padding: 10px;
      }
}



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

/* Set a style for all buttons */
button {
  background-color: #673ab7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #d1c4e9;
}
.signupbtn {
    float: left;
    width: 50%;
  }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}



span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn,.signupbtn {
     width: 100%;
  }
}

